<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- ETIQUETAS SEO -->
	<meta name="description" content="Sitio oficial del curso de Desarrollo Web Sincronico">
	<meta name="keyword" content="profesor, argentina, desarrollo web">
        <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <!--Fonts-->    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!--CDN FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Form</title>
</head>
<body class="container-fluid">
    <header>
        <div class="row text-center">
            <div class="col-lg-12 lg-12 ">
                <img src="../assets/img/logo_media.png" alt="" class="logo w-150">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 lg-12 justify-content-center">
                <nav >
                    <ul class= "nav">
                        <li><a href="../index.html">Centro de Mediación</a></li>
                        <li><a href="#">Biblioteca Virtual</a></li>
                        <li><a href="#">Comisión Bicentenario</a></li>
                        <li><a href="#">Cursos DDHH</a></li>
                        <li><a href="#">Dirección de Cultos</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main-contacto text-center">
        <section class="impronta-seo text-center">
            <h1 class="titulo">CENTRO DE MEDIACIÓN COMUNITARIO</h1>
            <h2 class="subtitulo ">COMPLETA NUESTRO FORMULARIO</h2>
        </section>
        <div class="contacto">
            <div class="row col-lg-12 col-12 titulo-contacto title text-center ">
                <h1 class="titule">Formulario</h1>
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">Nombre</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Patricia" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>
            <div class="col-lg-6">
                <h5>Cualquier consulta podes escribirnos a nuestro correo</h5>
                <h4>centroayuda@gob.com.ar</h4>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">Apellido</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Aballay" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">DNI-CUIL</label>
                <input type="number" class="form-control" id="validationCustom01" placeholder="41512431" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">Adjunte foto de su DNI</label>
                <input type="image" class="form-control" id="validationCustom01" placeholder="foto" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">email</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="pabalay@gmail.com" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">Asunto</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Vecino Descontrolado" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-6">
                <label for="validationCustom01">Descripción del Asunto</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Mi vecino realiza fiestas todos los miercoles" required>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Adjunte una imagen (Opcional)" required>
                <div class="valid-feedback">
                  Perfecto!
                </div>
            </div>            
        </div>
        <div class="space row">
            <div class="col-lg-12">
                <a href="#" class="btn">ENVIAR</a>
            </div>
        </div>            

   
        </div>    
    </main>
    <footer>
        <div class="row text-center">
            <div class="col-lg-4 lg-12 bg-logo">
                <img src="../assets/img/logo_media.png" alt="" class="logo w-150">
            </div>
            <div class="col-lg-8 lg-12 align-items-center bg-inca">
                <h6>Centro Cívico Grand Bourg. Av. Los Incas S/N. Bloque 3 - Planta Alta - Ala Oeste - 4400 - Salta - Tel (+54) (0387) 4324200
                    Copyright © 2017 Ministerio de Gobierno, Derechos Humanos y Justicia</h6>
            </div>
        </div>
        <div class="row text-center bg-black">
            <div class="col-lg-12 lg-12">
                <h6>Powered BY @</h6>
                <img src="../assets/img/bor.png" alt="logo" class="w-10">
            </div>
        </div>
    </footer>

<!--JS-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>    
</body>
</html>